

.Profile-Header-Card {
    display: flex;
    background-color: white;
    height: 100%;
    overflow: hidden;
    padding: 1%;
    margin-top: 3vh;
}

.C-Portfolio-Username {
    position: relative;
}

.Profile-Header-RegionCountry {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    padding-left: 10px;
    flex: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.Profile-Avatar {
    width: 11.5rem;
    height: 11.5rem;
    border-radius: 3%;
}


.Modal-Portfolio-Button-Categories {
    background-color: inherit;
    color: black;
    border: none;
    box-shadow: 0 1px 20px 0px rgba(0, 0, 0, 0.1);
    margin-bottom: 2%;
    width: 100%;
}

.Modal-Portfolio-Button-Categories:hover {
    background-color: rgba(230,234,234,0.5);
    color:black;
    border-color: grey;
}

.Modal-Portfolio-Button-Categories:active {
    background-color: rgba(230,234,234,0.5) !important;
    color:black !important;
}

.Modal-Portfolio-Button-Categories:focus {
    box-shadow: 0 1px 20px 0px rgba(0, 0, 0, 0.1) !important;
}