

.Profile-Header-Card {
    display: flex;
    background-color: white;
    height: 275px;
    overflow: hidden;
    padding: 1%;
    margin-top: 3vh;
}

.C-Portfolio-Username {
    display: flex;
    overflow: hidden;
}

.Profile-Header-RegionCountry {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    padding-left: 10px;
    flex: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.Profile-Statistics {
    position:absolute;
    bottom:0;
    left: 0;
}

.Profile-Avatar {
    width: 13.5rem;
    height: 13.5rem;
    border-radius: 3%;
}

.Profile-Button-Categories {
    background-color: inherit;
    color: black;
    border: none;
    box-shadow: 0 1px 20px 0px rgba(0, 0, 0, 0.1);
    margin-bottom: 2%;
    width: 100%;

}

.Profile-Button-Categories:hover {
    background-color: rgba(230,234,234,0.5);
    color:black;
    border-color: grey;
}

.Profile-Button-Categories:active {
    background-color: rgba(230,234,234,0.5) !important;
    color:black !important;
}

.Profile-Button-Categories:focus {
    box-shadow: 0 1px 20px 0px rgba(0, 0, 0, 0.1) !important;
}

.Profile-Create-Sign {
    float: right;
    color: #2eadcf;
    margin-top: 2%;
    font-size: 16px;
}

.Profile-Create-Sign:hover {
    float: right;
    color: rgb(59, 145, 135);
}

.Profile-Badges {
    position:absolute;
    bottom:0;
    left: 0;
    padding-left: 15px;
}

.Profile-Send-Message {
    position:block;
    margin-left: 1%;
    bottom:0;
    right: 0;
    padding-right: 15px;
    padding-left: 15px;
    background: #49c5b6;
    color: white;
    border: 0;
}

.Profile-Send-Message:hover {
    background: #42ab9e;
    color: white;
    border: 0;
}

.Profile-Send-Message:active {
    background: #42ab9e !important;
    color: white;
    border: 0;
    outline: none;
    box-shadow: none;
}

.Profile-Send-Message:focus {
    outline: none;
    box-shadow: none;
}

.Profile-Recommend-User {
    position:block;
    margin-left: 1%;
    bottom:0;
    right: 0;
    padding-right: 15px;
    background: #49c5b6;
    color: white;
    border: 0;
}

.Profile-Recommend-User:hover {
    background: #42ab9e;
    color: white;
    border: 0;
}

.Profile-Recommend-User:active {
    background: #42ab9e !important;
    color: white;
    border: 0;
    outline: none;
    box-shadow: none;
}

.Profile-Recommend-User:focus {
    outline: none;
    box-shadow: none;
}

.Profile-Content-Settings-Col {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
}



.Profile-Save-Changes-Button {
    margin-bottom: 0.4%;
    background-color: white;
    color: black;
    border: none;
    box-shadow: 0 1px 20px 0px rgba(0, 0, 0, 0.1);
    font-size: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 8px;
    padding-left: 8px;
    right: 0%;
    position: absolute;
    margin-bottom: 2%;
    margin-right: 1%;
}

.Profile-Save-Changes-Button:hover {
    background-color: rgba(230,234,234,0.5);
    color: black;
    cursor: pointer;
}

.Profile-Save-Changes-Button:active {
    background-color: rgba(230,234,234,0.5) !important;
    color: black !important;
}

.Profile-Save-Changes-Button:focus {
    box-shadow: 0 1px 20px 0px rgba(0, 0, 0, 0.1) !important;
    outline: 0;
}

.Profile-Save-Changes-Button-Text {
    color:black !important;
}

.UnitIconReactProfile svg{
    margin: 0;
    width: 50px;
    height: 38px;
}