.Menu-Navbar {
    background: #f4f7f6;
    border-bottom: 1px solid #E6EAEA;
}

.Menu-Navbar-Open-Button {
    color: black;
    border-right: 1px solid #E6EAEA;
    padding-right: 23px;
    padding-left: 30px; 
    border-radius: 0;
}

.Menu-Navbar-Open-Button:hover {
    color: #64686A;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}


.Menu-Logo {
    position: absolute;
    display: block;
    left: 54%;
}

.Menu-Navbar-Logo-Size {
    height: 50px;
    width: 145px;
}

.Menu-Navbar-Brand {
    color: black;
    margin-top: auto;
    margin-bottom: auto;
}

.Menu-Navbar-Brand:hover {
    color: #64686A;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.Menu-Language-Select {
    float: right;
}

.Menu-Login {
    color: black;
    background-color: inherit;
    border-color: transparent;
    float: right;
    padding-right: 0;
}

.Menu-Login:hover {
    color: #64686A;
    background-color: inherit;
    border-color: transparent;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.Menu-Login:focus {
    background-color: inherit;
    border-color: transparent;
    text-decoration: none;
}

.hidden { display:none; }

.Logged-Home-Avatar {
    width: 32px;
    height: 32px;
    float: right;
    margin-top: 2px;
}

@media (max-width: 376px) 
{

    .Menu-Navbar-Brand
    {
        display: none;
    }

    .Menu-Logo {
        position: absolute;
        display: block;
        left: 35%;
    }
    
    .Menu-Navbar-Logo-Size  {
        height: 40px;
        width: 130px;
        margin-top: 3%;
    }
    
    .Menu-Login {
        margin-top: 5%;
    }

    .Logged-Home-Avatar {
        margin-top: 25%;    
    }
}

