.Menu-Navbar {
    background: #f4f7f6;
    border-bottom: 1px solid #E6EAEA;
}

.Menu-Navbar-Open-Button {
    color: black;
    border-right: 1px solid #E6EAEA;
    padding-right: 23px;
    padding-left: 30px; 
    border-radius: 0;
}

.Menu-Navbar-Open-Button:hover {
    color: #64686A;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}


.Menu-Logo {
    position: absolute;
    display: block;
    left: 53.5%;
    top: -20%;
}

.Menu-Navbar-Brand {
    color: black;
    margin-top: auto;
    margin-bottom: auto;
}

.Menu-Navbar-Brand:hover {
    color: #64686A;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.Menu-Language-Select {
    float: right;
}

.Menu-Login {
    color: black;
    background-color: inherit;
    border-color: transparent;
    float: right;
    padding-right: 0;
}

.Menu-Login:hover {
    color: #64686A;
    background-color: inherit;
    border-color: transparent;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.Menu-Login:focus {
    background-color: inherit;
    border-color: transparent;
    text-decoration: none;
}

.hidden { display:none; }

.Logged-Home-Avatar {
    width: 32px;
    height: 32px;
    float: right;
    margin-top: 2px;
}

@media (max-width: 376px) 
{
    .Menu-Navbar-Brand
    {
        display: none;
    }
}

@media (max-width: 376px) 
{
    .Menu-Logo {
        position: absolute;
        display: block;
        left: 35%;
        top: -20%;
    }
}

