.C-Talent {
    position: relative;
    clear: both;
    background-color: #e6f4f2;
    transition: all 0.3s ease-in-out;
    height: 100%;
    border-radius: .25rem;
}

.C-Talent:hover {
    background-color: rgba(230,234,234,0.5);
}

.C-Talent-Link  {
    text-decoration: none;
    color: black;
    text-decoration: none;
    transition: color 0.3s ease-in-out; 
}

.C-Talent-Link:hover  {
    text-decoration: none;
    color: black;
    text-decoration: none;
    transition: color 0.3s ease-in-out; 
    cursor: pointer;
}

.C-Talent-Card {
    background-color: inherit;
    height: 100%;
}

.C-Talent-Body {
    padding: 30px 30px 40px 30px;
}

.C-Talent-Avatar {
    margin-bottom: 15px;
    overflow: hidden;
}

.C-Talent-User-Location {
    text-align: left;
}

.C-Talent-Country-Name {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    padding-left: 10px;
    flex: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.C-Talent-Name-User {
    color: black;
    font-weight: bold;
}


.C-Talent-Name-User:hover, .C-Talent-Name-User:active, .C-Talent-Name-User:focus, .C-Talent-Name-User:visited  {
    text-decoration: none;
}

.C-Talent-Name-User:hover {
    padding: 0;
    color: grey;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.C-Talent-Website-Link {
    color: #49c5b6;
    height: 20px;
    margin-bottom: 12px;
    line-height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.C-Talent-User-Description {
    height: 15vh;
    white-space: inherit;
    overflow: hidden;
    flex-wrap: wrap;
    text-align: justify;
    line-height: 21px;
}

.C-Talent-Keywords {
    font-weight: bold;
}

.C-Talent-Keywords-Name {
    font-weight: normal;
    padding-left: 1%;
}

.C-Talent-Avatar-Image {
    border-radius: 50%;
    height: 32px;
    width: 32px;
    box-sizing: inherit;
}

.C-Talent-Footer{
    min-height: 46px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    background-color: inherit;
    border-top: 0;
    margin-bottom: 3px;
}

.C-Talent-Footer-Risingstar {
    -webkit-box-flex: 1;
    flex: 1;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.C-Talent-Footer:hover {
    background-color: inherit;
}

.C-Talent-Footer-Mailbox {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 20px;
    position: relative;
    color: black;
}

.C-Talent-Footer-Mailbox:hover {
    color: grey;
}
