.Home-Carousel {
    max-height:300px;
    color:black;
    padding-left: 0;
}

.HomeCarrousel-Item {
    text-align:center
}

.HomeCarrousel-Background {
    background-color: #49c5b6;
}

.HomeCarrousel-Image-Container {
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: 30%;
}

.HomeCarousel-Image {
width: 200px;
height: 200;
}

.HomeCarrousel-Text-Container {
    padding-top: 2%;
    padding-bottom: 2%;
}

.HomeCarrousel-Text-Project-Name {
    font-weight: bold;
    font-size: 32px;
}

.HomeCarrousel-Text-Project-Description {
    margin-top: 2%;
    max-width: 85%;
    text-align: justify;  
}