.Home-Carousel {
    max-height:310px;
    color:black;
}

.HomeCarousel-Item {
    
}
.HomeCarousel-Image {
    padding-right: 7%;
    padding-left: 7%;
    max-height:310px;
    /*max-width:310px;
    height:310px;
    width:310px;
    */

}