.C-Proposal {
    background-color: white;
    width: 21vw;
    height: 60vh;
    margin-bottom: 15px;
}

.C-Proposal-Link:link {
    color:black;
    text-decoration: none;
}
.C-Proposal-Link:hover {
    background-color: rgba(230,234,234,0.5);
    transition: all 0.3s ease-in-out;
    color:black;
    text-decoration: none;
}
.C-Proposal-Link:visited {
    color:black;
    text-decoration: none;
}

.C-Proposal-Link:active {
    color:black;
    text-decoration: none;
}

.C-Proposal-Avatar {
    font-size: 35px;
}

.C-Proposal-Offer-Location {
    text-align: left;
    margin-top: 5%;
}

.C-Proposal-Offer-Name {
    margin-top: 5%;
    padding-left: 0;
    font-weight: bold;
}


.C-Proposal-Proponent-Name {
    color: #49c5b6;
    margin-top: 1rem;
}

.C-Proposal-Proponent-Description {
    text-align: justify;
    height: 25vh;
    overflow: hidden;
}

.C-Proposal-Footer {
    padding: 0;
    background-color: inherit;
    border-top: 0;
    bottom: 0;
}

.C-Proposal-Footer-Category {
text-align: left;
}

.C-Proposal-Footer-Date {
    text-align: right;
}
