.C-Proposal {
    background-color: lightcoral !important;
}

.C-Proposal-Avatar {
    float: left;
}

.C-Proposal-Offer-Name {
    float: right;
}

.Proposal-Proponent-Name {
    margin-top: 0;
    color: #49c5b6;
}

.Proposal-Proponent-Area {
    float: left;
}

.Proposal-Proponent-Date {
    float: right;
}

