.Rankings-Button-MostViewed, .Rankings-Button-MostRecommended, .Rankings-Button-MostBadges {
    margin-top: 2%;
    border-radius: 0 !important;
}


.Rankings-Button-MostViewed {
}

.Rankings-Button-MostRecommended {
}

.Rankings-Button-MostBadges {

}
 .Notifications-Message-Table {
    margin-top: 2%;
 }