.Register-Modal-Header {
    border-bottom: 0;
}

.Register-Modal-Logo {
    height: 15%;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: -5%;
    margin-bottom: 5%;
}

.Register-Text-SignIn {
    padding-left: 13vh;
    overflow: auto;
}

.Register-Text-Member {
    padding-left: 8vh;
    overflow: hidden;
}

.Register-Input-Email {
    border-color: #E6EAEA;
    width: 76% !important;
    margin-left: auto;
    margin-right: auto;
}

.Register-Input-Email:focus {
    border-color: #E6EAEA;
    outline: none;
    box-shadow: none;
}

.Register-Input-Password {
    border-color: #E6EAEA;
    width: 76% !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.Register-Input-Password:focus {
    border-color: #E6EAEA;
    outline: none;
    box-shadow: none;
}

.Register-Input-Password-Repeat {
    border-color: #E6EAEA;
    width: 76% !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.Register-Input-Password-Repeat:focus {
    border-color: #E6EAEA;
    outline: none;
    box-shadow: none;
}

.Register-Button-Create {
    background-color: #49c5b6;
    border: #49c5b6;
    color: white;
    width: 73% !important;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}

.Register-Button-Create:hover {
    color: #fff;
    background-color: #42AB9E;
}

.Register-Button-Create:active:focus {
    color: #fff;
    background-color: #42AB9E !important;
    
}
