.C-Porfolio {
    background-color: white;
    width: 21vw;
    height: 60vh;
    margin-bottom: 15px;
    padding-top: 0;
}

.C-Porfolio-Link:link {
    color:black;
    text-decoration: none;
}
.C-Porfolio-Link:hover {
    background-color: rgba(230,234,234,0.5);
    transition: all 0.3s ease-in-out;
    color:black;
    text-decoration: none;
}
.C-Porfolio-Link:visited {
    color:black;
    text-decoration: none;
}

.C-Porfolio-Link:active {
    color:black;
    text-decoration: none;
}

.C-Portfolio-Image {
    width: 10em;
}

.C-Portfolio-Offer-Location {
    text-align: left;
    margin-top: 5%;
    padding-left: 20px;
}

.C-Porfolio-Offer-Name {
    margin-top: 5%;
    padding-left: 0;
    font-weight: bold;
    padding-left: 20px;

}


.C-Porfolio-Proponent-Name {
    color: #49c5b6;
    margin-top: 1rem;
}

.C-Porfolio-Proponent-Description {
    text-align: justify;
    height: 25vh;
    overflow: hidden;
}

.C-Porfolio-Footer {
    padding: 0;
    background-color: inherit;
    border-top: 0;
    bottom: 0;
}

.C-Porfolio-Footer-Category {
text-align: left;
}

.C-Proposal-Footer-Date {
    text-align: right;
}
