.card {
    border: 0;
}

.C-Portfolio {
    position: relative;
    clear: both;
    background-color: #fcfcfc; 
    transition: all 0.3s ease-in-out;
    height: 100%;
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

.C-Portfolio:hover {
    background-color: rgba(230,234,234,0.5);
}

.C-Portfolio-Link  {
    text-decoration: none;
    color: black;
    text-decoration: none;
    transition: color 0.3s ease-in-out; 
}

.C-Portfolio-Link:hover  {
    text-decoration: none;
    color: black;
    text-decoration: none;
    transition: color 0.3s ease-in-out; 
}

.C-Portfolio-Card {
    background-color: inherit;
    height: 100%;
}

.C-Portfolio-Body {
    flex: 1;
    padding: 30px 0 0 30px;
}

.C-Portfolio-Sheet {
    width: 100%;
    max-height: 350px;
    align-content: center;
}

.C-Portfolio-Sheet-Image {
    width: 100%;
    max-height: inherit;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.C-Portfolio-Sheet-Name {
    padding-left: 0;
    font-weight: bold;
    width: 100%;
    overflow: "visible";
    height: auto;
}


.C-Portfolio-Description {
    height: auto;
    white-space: inherit;
    overflow: visible;
    padding-right: 20px;
}


.C-Portfolio-Footer{
    min-height: 46px;
    padding: 10px 20px 10px 20px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    background-color: inherit;
}

.C-Portfolio-Footer-Avatar-Image {
    border-radius: 50%;
    height: 32px;
    width: 32px;
    box-sizing: inherit;
}

.C-Portfolio-Footer:hover {
    background-color: inherit;
}

.C-Portfolio-Footer-Name {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    padding-left: 10px;
    flex: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

