.Rankings-Button-MostViewed, .Rankings-Button-MostRecommended, .Rankings-Button-MostBadges {
    margin-top: 2%;
    border-radius: 0 !important;
}


.Rankings-Button-MostViewed {
}

.Rankings-Button-MostRecommended {
}

.Rankings-Button-MostBadges {

}
 .Rankings-Table {
    margin-top: 2px;
 }


 .Modal-Message-Username {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    padding-left: 10px;
    flex: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.Modal-Message-Username:hover {
    color: grey;
    text-decoration: none;
    transition: color 0.3s ease-in-out; 
}
