body {
    margin: 0;
    padding: 0;
    font-family: "Apercu Pro", "Roboto", "Helvetica", "Arial", sans-serif;   
    background-color: #f4f7f6;
    font-size: 14px;
}

.rowCards {
    margin:0;
    margin-bottom: 12px;
    line-height: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
}
