.Login-Modal-Header {
    border-bottom: 0;
}

.Login-Modal-Logo {
    height: 15%;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: -5%;
    margin-bottom: 5%;
}

.Login-Modal-Row {
    width: 76% !important;
    margin-left: auto;
    margin-right: auto;
}

.Login-Text-Register {
    padding-left: 10vh;
    overflow: auto;
    float: left;
    padding-left: 0;
    vertical-align: text-top;
}

.Login-Text-RegisterNow {
    float: right;
    overflow: hidden;
    margin-right: 5%;
}

.Login-Button-RegisterNow {
    color: #49c5b6;
    border: #49c5b6;
    background-color: inherit;
    font-weight: bold;
    box-shadow: inherit;
    text-decoration: none;
    padding: 0;
}

.Login-Button-RegisterNow:hover {
    color: #42AB9E;
    border: #49c5b6;
    background-color: inherit;
    box-shadow: inherit;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.Login-Button-RegisterNow:active {
    color: #42AB9E !important;
    background-color: inherit !important;
    box-shadow: inherit;   
    text-decoration: none;
}

.Login-Button-RegisterNow:focus {
   outline: none;
   box-shadow: inherit;
   text-decoration: none;
}

.Login-Input-Email {
    border-color: #E6EAEA;
    width: 76% !important;
    margin-left: auto;
    margin-right: auto;
}

.Login-Input-Email:focus {
    border-color: #E6EAEA;
    outline: none;
    box-shadow: none;
}

.Login-Input-Password {
    border-color: #E6EAEA;
    width: 76% !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.Login-Input-Password:focus {
    border-color: #E6EAEA;
    outline: none;
    box-shadow: none;
}

.Login-Button-Login {
    background-color: #49c5b6;
    border: #49c5b6;
    color: white;
    width: 73% !important;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}

.Login-Button-Login:hover {
    color: #fff;
    background-color: #42AB9E;
    transition: all 0.3s ease-in-out;
}

.Login-Button-Login:active:focus {
    color: #fff;
    background-color: #42AB9E !important;
    
}

.Login-Password-Recovery {
    color: #49c5b6;
    text-decoration: underline;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}
