.Modal-Proposal-Avatar {
    height: 32px;
    width: 32px;
    box-sizing: inherit;
}

.Modal-Proposal-Avatar-Country {
    height: 32px;
    width: 32px;

}

.Modal-Proposal-Username {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    padding-left: 10px;
    flex: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.Modal-Proposal-Username:hover {
    color: grey;
    text-decoration: none;
    transition: color 0.3s ease-in-out; 
}

.Modal-Proposal-User-Location {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    padding-left: 10px;
    flex: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


.Modal-Proposal-Config {
    margin-bottom: 0.4%;
    background-color: white;
    color: black;
    border: none;
    box-shadow: 0 1px 20px 0px rgba(0, 0, 0, 0.1);
    margin-left: 1%;
    font-size: 100%;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 8px;
    padding-left: 8px;
    min-height: 50px;
    min-width: 100px;
    position: absolute;
    right: 5%;
}

.Modal-Proposal-Config:hover {
    background-color: rgba(230,234,234,0.5);
    color: black;
    box-shadow: 0 1px 20px 0px white !important;

}

.Modal-Proposal-Config:active {
    background-color: rgba(230,234,234,0.5) !important;
    color: black !important;
}

.Modal-Proposal-Config:focus {
    background-color: rgba(230,234,234,0.5) !important;
}

.Modal-Proposal-Proposal-Category {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    letter-spacing: 0.5px;
}

.Modal-Proposal-ProposalName {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.Modal-Proposal-Keywords {
    text-align: center;
}

.Modal-Proposal-Description-Area {
    padding: 16px;
    text-align: justify;
}

.Modal-Proposal-Description {
    margin-top: 1%;
}

.Modal-Proposal-Anexes {
    padding: 16px;
    text-align: justify;
    border-radius: 0;
}

.Modal-Proposal-Button{
    width:100%;
    margin-bottom: 0.4%;
    background-color: white;
    color: black;
    border: none;
    box-shadow: 0 1px 20px 0px rgba(0, 0, 0, 0.1);
    margin-left: 1%;
    font-size: 100%;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 8px;
    padding-left: 8px;
    min-height: 50px;
    min-width: 120px;

}

.Modal-Proposal-Button:hover {
    background-color: rgba(230,234,234,0.5);
    color: black;
}

.Modal-Proposal-Button:active {
    background-color: rgba(230,234,234,0.5) !important;
    color: black !important;
}

.Modal-Proposal-Button:focus {
    box-shadow: 0 1px 20px 0px rgba(0, 0, 0, 0.1) !important;
}


.Modal-Proposal-Button-Message {
    margin-bottom: 0.4%;
    background-color: white;
    color: black;
    border: none;
    box-shadow: 0 1px 20px 0px rgba(0, 0, 0, 0.1);
    margin-left: 1%;
    font-size: 100%;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 8px;
    padding-left: 8px;
    min-width: 200px;
    min-height: 50px;
}

.Modal-Proposal-Button-Message:hover {
    background-color: rgba(230,234,234,0.5);
    color: black;
}

.Modal-Proposal-Button-Message:active {
    background-color: rgba(230,234,234,0.5) !important;
    color: black !important;
}

.Modal-Proposal-Button-Message:focus {
    box-shadow: 0 1px 20px 0px rgba(0, 0, 0, 0.1) !important;
}


.Modal-Proposal-Button-Message{
    width:100%;
    height: 100%;
}
